<!doctype html>
<html lang="s">
<hea>
	<meta"UTF-8">
	<title>Document</title>
    <body>
        Enter Python to execute:
        <form action="/" method="post">
            <input type="text" name="expression" />
            <input type="submit" value="Execute" />
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                Results:
                <pre>
               		{% for message in messages %}
						{{ message }}
                    {% endfor %}
                </pre>
            {% endif %}
        {% endwith %}
    </body>
</html>